{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": true
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@src": "./src"
        }
      }
    ],
    ["babel-plugin-add-import-extension", { "extension": "js" }]
  ]
}
